GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=


# Generate NEXTAUTH_SECRET by running command : `node -e "console.log(require('crypto').randomBytes(32).toString('base64'))"` on your terminal
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000/

# ClickHouse connection for system data (users, orgs, configs)
INIT_DB_HOST=localhost
INIT_DB_PORT=8123
INIT_DB_DATABASE=openlit
INIT_DB_USERNAME=default
INIT_DB_PASSWORD=

# TELEMETRY TRACKING
TELEMETRY_ENABLED=true


# Demo accounts separated by comma :: Adding those you will be logged in automatically
DEMO_ACCOUNT_EMAIL=
DEMO_ACCOUNT_PASSWORD=

# ClickHouse Cluster
# Set this to enable ON CLUSTER DDL and ReplicatedMergeTree engine.
# Leave empty for single-node deployments.
CLICKHOUSE_CLUSTER=